.Button {
  color: #e5e5e5;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 30px;
  line-height: 19px;
  height: 40px;
  cursor: pointer;
  background-color: #e50914;
  border: 1px solid #e50914;
}
.Button--outline {
  color: #e5e5e5;
  background-color: transparent;
}
